html{
    scroll-behavior: smooth;
}


.titulo-parrafos{
    font-family: "Merryweather";
    color: white;
}

.texto-parrafos{
    font-family: "Raleway";
    color: white;
    font-weight: 300;
}

.texto-formulario{
    font-family: "Raleway";
    color: white;
}

.texto-footer{
    font-weight: 500;
    color: white;
    font-family: "Raleway";
    font-size: larger;
}

.separador{
    color: gray;
    width: 80%;
    opacity: 70%;
}

.separador2{
    color: gray;
    opacity: 70%;
}

.banner{
    background-color: #0dc9ef;
    text-align: center;
    font-size: 25px;
}

body{
    background-color: black;
}

.card-title{
    font-family: "Raleway";
    color: white;
    font-weight: 400;
}

.card-text{
    font-family: "Raleway";
    color: white;
    font-weight: 300;
}

.nav-link{
    font-size: 30px;
    color: white;
}

.navbar-brand{
    font-family: "Merryweather";
    color: white;
}

.fab{
    font-size: 30px;
    color: white;
}